*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: #FDF4F5;
    text-align: center;
    border-bottom: 8px solid #E8A0BF;
    font-size: 32px;
}

.h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.image-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 10px;
    max-width: 2400px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #BA90C6;
}

.image-box img{
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: #BA90C6;
}

.prev, .next {
    margin: 8px 10px;
    padding: 8px 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #C0DBEA;
}